.card {
    background-image: url('../../assets/postit.png');
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 320px;
    margin: 0 15px 0 15px;
}

.content {
    margin-top: 80px;
}